{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block content %}
    <h1>Все новости</h1>

    <hr>

    {% if posts %}
        <table>
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Дата публикации</th>
                    <th>Содержание</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td><a href="{% url 'post_detail' post.pk %}">{{ post.post_name }}</a></td>
                    <td>{{ post.time_in_post|date:"Y-m-d" }}</td>
                    <td>{{ post.text_post|truncatechars:20 }}</td>
                    <td>
                    {% if perms.news.change_postt %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' pk=post.id %}">Удалить</a>
                    {% endif %}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Пагинация -->
        <div class="pagination">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ posts.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span>Страница {{ posts.number }} из {{ posts.paginator.num_pages }}</span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Следующая</a>
                <a href="?page={{ posts.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </div>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock %}